MQTT with ESP32.json
[
    {
        "id": "559f5585027ed238",
        "type": "tab",
        "label": "MQTT with ESP32",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7c8feeba552f7d26",
        "type": "mqtt in",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "sensors/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a5b1e6b6a9e68d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "d8cce43adf8c71da",
                "0c85093b49c6f13e"
            ]
        ]
    },
    {
        "id": "99ed0cc934a40c97",
        "type": "mqtt in",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "sensors/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a5b1e6b6a9e68d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 400,
        "wires": [
            [
                "d42802459fd76572",
                "44c0d91482d89c70",
                "66b7cb4ec1ab3776"
            ]
        ]
    },
    {
        "id": "92dce16d7b9dff85",
        "type": "mqtt in",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "sensors/soil_moisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a5b1e6b6a9e68d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 620,
        "wires": [
            [
                "27f4ae2dd53675f1",
                "164af98d504fa32f",
                "ee12780a89b0efe1"
            ]
        ]
    },
    {
        "id": "d42802459fd76572",
        "type": "ui-gauge",
        "z": "559f5585027ed238",
        "name": "Độ sáng (LDR)",
        "group": "ce82382e617e221c",
        "order": 4,
        "value": "payload",
        "valueType": "msg",
        "width": "6",
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Light",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "lux",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#000000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#333333",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#666666",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#999999",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#cccccc",
                "text": "",
                "textType": "label"
            },
            {
                "from": "100",
                "color": "#ffffff",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 320,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "27f4ae2dd53675f1",
        "type": "ui-gauge",
        "z": "559f5585027ed238",
        "name": "Độ ẩm đất (Soil Moisture)",
        "group": "47427761975461f8",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "6",
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Soil Moisture",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#eeff00",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#01f905",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "0c85093b49c6f13e",
        "type": "ui-chart",
        "z": "559f5585027ed238",
        "group": "b4c70ed052a47f56",
        "name": "Temperature",
        "label": "Biểu đồ nhiệt độ (℃)",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Thời gian",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "℃",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 310,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "164af98d504fa32f",
        "type": "ui-chart",
        "z": "559f5585027ed238",
        "group": "47427761975461f8",
        "name": "Soil Moisture",
        "label": "Soil Moisture",
        "order": 2,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 290,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "d1380644de44382e",
        "type": "mqtt in",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "sensors/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "7a5b1e6b6a9e68d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 220,
        "wires": [
            [
                "d61a4daff591fc52",
                "78e2db647da530fd"
            ]
        ]
    },
    {
        "id": "d61a4daff591fc52",
        "type": "ui-gauge",
        "z": "559f5585027ed238",
        "name": "Độ ẩm (Humidity)",
        "group": "b4c70ed052a47f56",
        "order": 1,
        "value": "payload",
        "valueType": "msg",
        "width": "6",
        "height": "4",
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40 ",
                "color": "#d6d25c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#00ff4c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": "4",
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 330,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "44c0d91482d89c70",
        "type": "ui-chart",
        "z": "559f5585027ed238",
        "group": "ce82382e617e221c",
        "name": "Light",
        "label": "Light",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "100",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 290,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "d8cce43adf8c71da",
        "type": "debug",
        "z": "559f5585027ed238",
        "name": "Nhiệt độ",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 60,
        "wires": []
    },
    {
        "id": "66b7cb4ec1ab3776",
        "type": "debug",
        "z": "559f5585027ed238",
        "name": "Độ sáng",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 360,
        "wires": []
    },
    {
        "id": "78e2db647da530fd",
        "type": "debug",
        "z": "559f5585027ed238",
        "name": "Độ ẩm",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "ee12780a89b0efe1",
        "type": "debug",
        "z": "559f5585027ed238",
        "name": "Độ ẩm đất",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 580,
        "wires": []
    },
    {
        "id": "00a4d241dfb5c421",
        "type": "ui-switch",
        "z": "559f5585027ed238",
        "name": "Automatic Light",
        "label": "Automatic Light Mode",
        "group": "ce82382e617e221c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "9b51ab7a0a3ea9b8"
            ]
        ]
    },
    {
        "id": "9b51ab7a0a3ea9b8",
        "type": "mqtt out",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "signal/auto_light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "072c83ebfbeba6f6",
        "x": 940,
        "y": 320,
        "wires": []
    },
    {
        "id": "854ef51ccbe53d2d",
        "type": "ui-switch",
        "z": "559f5585027ed238",
        "name": "Switch Light",
        "label": "Light Switch",
        "group": "ce82382e617e221c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 670,
        "y": 380,
        "wires": [
            [
                "d1a9209d9edee28d"
            ]
        ]
    },
    {
        "id": "d1a9209d9edee28d",
        "type": "mqtt out",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "signal/switch_light",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "072c83ebfbeba6f6",
        "x": 950,
        "y": 380,
        "wires": []
    },
    {
        "id": "b7e377099d43a00c",
        "type": "ui-dropdown",
        "z": "559f5585027ed238",
        "group": "ce82382e617e221c",
        "name": "",
        "label": "Select Option:",
        "tooltip": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": true,
        "options": [
            {
                "label": "",
                "value": "RED",
                "type": "str"
            },
            {
                "label": "",
                "value": "BLUE",
                "type": "str"
            },
            {
                "label": "",
                "value": "YELLOW",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 680,
        "y": 460,
        "wires": [
            [
                "ab6ac1ef86f1e66f"
            ]
        ]
    },
    {
        "id": "9f77755d8840cde5",
        "type": "ui-switch",
        "z": "559f5585027ed238",
        "name": "Automatic Watering",
        "label": "Automatic Watering Mode",
        "group": "47427761975461f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "layout": "row-left",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 690,
        "y": 580,
        "wires": [
            [
                "5fa2a914f826466d"
            ]
        ]
    },
    {
        "id": "5fa2a914f826466d",
        "type": "mqtt out",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "signal/auto_watering",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "072c83ebfbeba6f6",
        "x": 960,
        "y": 580,
        "wires": []
    },
    {
        "id": "ab6ac1ef86f1e66f",
        "type": "mqtt out",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "signal/light_color",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "072c83ebfbeba6f6",
        "x": 950,
        "y": 460,
        "wires": []
    },
    {
        "id": "c31c2c84de780f96",
        "type": "mqtt in",
        "z": "559f5585027ed238",
        "name": "",
        "topic": "signal/light_color",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "072c83ebfbeba6f6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 520,
        "wires": [
            [
                "7db5113b54807e35"
            ]
        ]
    },
    {
        "id": "7db5113b54807e35",
        "type": "debug",
        "z": "559f5585027ed238",
        "name": "Màu",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 520,
        "wires": []
    },
    {
        "id": "7a5b1e6b6a9e68d0",
        "type": "mqtt-broker",
        "name": "MQTT with ESP32",
        "broker": "https://broker.hivemq.com/",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ce82382e617e221c",
        "type": "ui-group",
        "name": "Light",
        "page": "da624002d335b2dc",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "47427761975461f8",
        "type": "ui-group",
        "name": "Soil Moisture",
        "page": "da624002d335b2dc",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "b4c70ed052a47f56",
        "type": "ui-group",
        "name": "Temperature and Humidity",
        "page": "da624002d335b2dc",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "072c83ebfbeba6f6",
        "type": "mqtt-broker",
        "name": "",
        "broker": "https://broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "da624002d335b2dc",
        "type": "ui-page",
        "name": "Home",
        "ui": "35d72cb97b0a6610",
        "path": "",
        "icon": "home",
        "layout": "grid",
        "theme": "3650da2e0547aa4f",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "35d72cb97b0a6610",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": true
    },
    {
        "id": "3650da2e0547aa4f",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "4e383e5598a7e2d0",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.26.0"
        }
    }
]